$font-stack: IBM Plex Mono, monospace;
$primary-color: rgb(255, 199, 243);
$secondary-color:rgb(200, 255, 0);
$background-color: black;

* {
  margin: 0;
}

body {
  font: 22px $font-stack;
  color: $primary-color;
  background-color: $background-color;
}

input {
  background: transparent;
  color: white;
  height: 40px;
  border: solid 2px $secondary-color;
  font: 17px $font-stack;
  border-radius: 30px;
}

.search-name {
  width: 250px;
  text-align: left;
  padding: 0 15px;
}

.search-btn {
  width: 120px;
  text-align: center;
}

h2 {
  position: absolute;
  top: 20px;
  left: 20px;
}

form {
  position: absolute;
  top: 30px;
  right: 20px;
}